<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MedAsist</title>

      <style type="text/css">

        body{
            background: #f5f6fa;
        }
        .maincontainer {
            display: flex;
            justify-content: center;
            align-items: center;


        }

        .root {
            width: 500px;
            background: #fff;
            padding: 10px;
            margin: 15px;

        }

        .heading {
            align-items: center;
            display: flex;
            justify-content:center;
            padding: 5px;
        }




    </style>
 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</head>
<body>
<form action="/loginby">
<div class="maincontainer">
    <div class="root">
        <div class="heading">
            <img src="/static/doctortrans.png" width="65%">
        </div>

<!--        <div style="margin-top:4px">-->
<!--        <span style="display:flex;justify-content:center;align-item:center;color: black;letter-spacing:0.5px;font-size:25px;font-weight:600">Let your Doctor know about</span>-->
<!--        <span style="display:flex;justify-content:center;align-item:center;color: black;letter-spacing:0.5px;font-size:28px;font-weight:600">your status before seen them.</span>-->
<!--        </div>-->

<!--        <div style="margin-top:7px">-->
<!--        <span style="display:flex;justify-content:center;align-item:center;font-size: 15px;font-weight:600;color:rgb(136, 135, 135);">Lorem ipsum is simply dummy text of the printing</span>-->
<!--        <span style="display:flex;justify-content:center;align-item:center;font-size: 15px;font-weight:600;color:rgb(136, 135, 135);">and typesetting industry</span>-->
<!--        </div>-->


        <div style="padding-left:5px;font-size:20px;font-weight:700;color:rgb(12, 12, 12);text-align: center;">Let your Doctor Know about <br> your status before seen them</div>
        <div style="padding-left:5px;font-size:12px;font-weight:600;color:rgb(111, 110, 110);text-align: center;">Lorem Ipsum simply dummy text of the printing <br>and typeseting industry</div>


        <div class="row" style="margin-top:20px">
            <div class="col s12">
                  <button style="width:100%;border-radius:20px" class="btnlogin waves-effect waves-light btn" type="submit" value="Number" name="btn">Login With Mobile Number
                      </button>
            </div>
        </div>

         <div class="row">
            <div class="col s12">
                  <button style="width:100%;border-radius:20px" class="btnlogin waves-effect waves-light btn" type="submit" value="Email" name="btn">Login With Email Address
                      </button>
            </div>
        </div>

         <div class="row" style="margin-top:50px;">
            <div class="col s12">
                 <div style="padding-left:5px;font-size:12px;font-weight:600;color:rgb(136, 135, 135);display:flex; center;align-items: center;justify-content:center;">Don't have account?</div>
                    <button style="width:100%;border-radius:20px;background-color: rgb(10, 138, 223);" class="btnaccount waves-effect waves-light btn" type="submit" name="btn" value="create">Create new account
                    </button>
            </div>
        </div>

    </div>
</div>

</form>


</body>
 <script src=
    "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js">
     </script>
</html>